@import 'variable';
@import 'mixin';

@import 'Signup';
@import 'Logo';
@import 'Nav';
@import 'UserProfile';
@import 'Dailyform';
@import 'Topper';

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $white-color;
  margin: 0;
  font-family: $noto-font;
  color: $black-color;
}

.app {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 0;
  font-family: $noto-font;
  font-size: $font-medium;
  font-weight: 500;
  color: inherit;
  background-color: $white-color;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff;
  padding: 15px 17px;
  border-radius: 16px;
  border: none;
  outline: none;
  color: $black-color;
  &::placeholder {
    color: $blue-color;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: $gray-color;
}

label {
  color: $black-color;
  font-size: $font-default;
}

@include mobile {
  body {
    padding: 24px;
  }
}

@include tablet {
  body {
    padding: 36px;
  }
}

@include desktop {
  body {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 460px;
  }
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 146px;
  height: 10px;
  border-radius: 50%;
}

progress::-webkit-progress-bar {
  background-color: $white-color;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: $blue-color;
  border-radius: 8px;
}
progress::-moz-progress-bar {
  background-color: $white-color;
  border-radius: 8px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;

  background: $gray-color;
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 27px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_email {
    width: 200px;
    text-align: left;
  }

  &_password {
    width: 200px;
    text-align: left;
  }
}
