@import 'normalize';
@import 'variable';
@import 'mixin';

@import 'Signup';
@import 'Logo';
@import 'Nav';
@import 'UserProfile';
@import 'Dailyform';
@import 'Topper';
@import 'Login';
@import 'Loding';
@import 'DailyList';
@import 'UserSetting';
@import 'Budget';

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $white-color;
  margin: 0;
  min-width: 370px;
  font-family: $noto-font;
  color: $black-color;
}

.app {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 0;
  font-family: $noto-font;
  font-size: $font-medium;
  font-weight: 500;
  color: inherit;
  background-color: $white-color;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.submit {
  height: 50px;
  color: $white-color;
  border-radius: 13px;
  background-color: $blue-color;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff;
  padding: 15px 17px;
  border-radius: 16px;
  border: none;
  outline: none;
  color: $black-color;
  &::placeholder {
    color: $blue-color;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: $gray-color;
}

label {
  color: $black-color;
  font-size: $font-default;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 146px;
  height: 10px;
  border-radius: 50%;
}

progress::-webkit-progress-bar {
  background-color: $white-color;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: $blue-color;
  border-radius: 8px;
}
progress::-moz-progress-bar {
  background-color: $white-color;
  border-radius: 8px;
}

input[type='”text”'],
input[type='”tel”'],
input[type='”password”'],
input[type='”email”'],
input[type='”search”'],
textarea {
  -webkit-appearance: none; /* 인풋내 그림자 제거 */
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background: rgba(241, 245, 255, 0.2);
  backdrop-filter: blur(20px);
  &.show {
    display: flex;
  }
}

@include mobile {
  body {
    padding: 24px;
  }
}

@include tablet {
  body {
    padding: 36px;
  }
}

@include desktop {
  body {
    padding: 50px;
  }
  .container {
    padding-left: 410px;
  }
}
