.budget {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  &_category {
    padding: 17px;
    width: 100%;
    height: fit-content;
    border-radius: 22px;
    background-color: #fff;
    &_li {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      height: 70px;
      border: 1px solid $light-gray-color;
      border-radius: 16px;
      margin-bottom: 10px;
      overflow: hidden;
      span:nth-child(1) {
        margin-right: 5px;
      }
      span:nth-child(2) {
        margin-right: 10px;
        width: 50%;
        text-align: center;
        font-size: $font-medium;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span:nth-child(3) {
        width: fit-content;
        font-size: $font-SMlarge;
        font-family: $poiret-font;
        font-weight: 500;
        &.minus {
          color: $red-color;
        }
      }
      span:nth-child(4) {
        display: inline;
        margin-left: 5px;
        font-size: $font-medium;
        font-weight: 300;
        min-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hover {
        display: none;
      }
      &:hover .hover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(21, 34, 83, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 14px;
        button {
          width: 50%;
          height: 100%;
          line-height: 70px;
          color: $white-color;
          font-size: $font-medium;
          font-weight: 500;
          background-color: rgba(0, 0, 0, 0);
          &:not(:last-child) {
            border-right: 1px solid $white-color;
          }
          &:hover {
            background-color: rgba(21, 34, 83, 0.1);
          }
        }
      }
    }

    .budget_edit_mode {
      width: 100%;
      height: 70px;
      color: $gray-color;
      background-color: #fff;
      border: 1px solid $light-gray-color;
      border-radius: 16px;
      .plus_icon {
        width: 35px;
      }
      &:hover {
        color: $blue-color;
      }
    }
    .budget_edit_mode_done {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      background-color: #fff;
      color: $blue-color;
    }
    .budget_category_edit {
      display: flex;
      padding: 20px;
      height: fit-content;
      border: 1px solid $light-gray-color;
      border-radius: 16px;
      &.mb {
        margin-bottom: 10px;
      }
      .emoji_box {
        margin-right: 30px;
        .emoji {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          background-color: #fff;
          border: 1px solid $light-gray-color;
          border-radius: 50%;
          &:hover {
            background-color: $light-gray-color;
          }
        }
        position: relative;
        .emoji_picker {
          display: none;
          overflow: hidden;
          z-index: 9;
          &.show {
            display: inline-block;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
          width: 100%;
          margin-top: 5px;
          margin-bottom: 10px;
          border: 1px solid $light-gray-color;
        }
        button {
          margin-top: 5px;
        }
        .createErr {
          display: flex;
          flex-direction: row;
          color: $red-color;
          text-align: center;
          font-size: $font-small;
          border-radius: 5px;
          justify-content: center;
          align-items: center;

          svg {
            width: 20px;
            margin-top: 4px;
            margin-right: 3px;
          }
        }
      }
    }
  }
  &_chart_group {
    min-width: 322px;
    .budget_chart {
      display: flex;
      justify-content: center;
      background-color: #fff;
      border-radius: 22px;
      overflow: hidden;
      &:first-child {
        margin-bottom: 20px;
      }
      .budgit_chart_frame {
        width: 355px;
        overflow: hidden;
      }
    }
  }
  .side_warn {
    font-size: $font-small;
  }
}

@include mobile {
  .budget {
    margin-top: 10px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    &_category {
      padding: 12px;
      min-width: 288px;
      order: -1;
      &_li {
        min-width: 300px;
        span:nth-child(2) {
          font-size: $font-default;
        }
        span:nth-child(3) {
          font-size: $font-large;
        }
        span:nth-child(4) {
          font-size: $font-small;
        }
      }
    }
  }
}
@include tablet {
  .budget {
    margin-top: 5px;
  }
}
