.dailyList {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  &_tag {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 3fr 3fr 2fr 50px;
    div {
      margin: auto 0;
      text-align: center;
    }
  }

  &_item {
    position: relative;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 1fr 3fr 3fr 2fr 50px;
    margin-bottom: 12px;
    border: 1px solid $light-gray-color;
    border-radius: 16px;
    div {
      margin: auto 0;
      text-align: center;
    }
    &_dropdown_menu {
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
      width: 200px;
      height: 0px;
      overflow: hidden;
      background-color: #fff;
      border-radius: 16px;
      transition: height 0.5s cubic-bezier(0.42, -0.57, 0.3, 0.75);
      &.show {
        height: 110px;
        border: 1px solid $light-gray-color;
      }
    }
    .daily.hr {
      margin: 0 15px;
      background-color: $light-gray-color;
    }
    .dailyList_item_dropdown_menu_item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 196px;
      height: 55px;
      color: $gray-color;
      cursor: pointer;
    }
    .dailyList_icon {
      width: 24px;
      height: 24px;
      color: $gray-color;
      &_btn {
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        &:hover {
          background-color: rgb(246, 246, 246);
        }
      }
    }
  }
}
