.daily_form {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  .category_dropdown {
    position: relative;
    flex: 1;
    width: auto;
    margin-right: 15px;
    .category_toggle_btn {
      position: relative;
      min-width: 150px;
      width: 100%;
      height: 50px;
      padding: 15px 32px 15px 17px;
      text-align: start;
      background-color: #fff;
      font-size: $font-default;
      font-weight: 400;
      color: $blue-color;
      border-radius: 16px;
      cursor: pointer;
      &_icon {
        position: absolute;
        top: 13px;
        right: 15px;
        width: 24px;
        height: 24px;
      }
    }
    .category_menu {
      position: absolute;
      z-index: 99;
      top: 70px;
      left: 0;
      width: 100%;
      height: 0px;
      overflow: hidden;
      background-color: #fff;
      border-radius: 6px;
      transition: 0.2s ease-in;
      cursor: pointer;
      opacity: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
      }
      li.disabled {
        color: $gray-color;
      }
    }
    .category_menu.show {
      height: auto;
      top: 53px;
      box-shadow: 0 3px 5px 0 rgba(63, 65, 80, 0.1);
      opacity: 100;
    }
  }
  .money {
    position: relative;
    flex: 2;
    margin-right: 15px;
    width: auto;
    height: 50px;
    font-size: $font-default;
    &_input {
      margin-bottom: 10px;
      font-family: $noto-font;
      font-size: $font-default;
      width: 100%;
      height: 50px;
    }
    &_label {
      font-size: $font-default;
      font-weight: 400;
      color: $blue-color;
      position: absolute;
      top: 13px;
      right: 15px;
    }
    .money_btn_group {
      display: flex;
      justify-content: space-around;
      .money_btn {
        padding: 6px 5px;
        width: 100%;
        font-size: 1rem;
        color: $blue-color;
        border: 2px solid $blue-color;
        border-radius: 13px;
        &:not(:last-child) {
          margin-right: 3px;
        }
      }
    }
  }
  .memo {
    flex: 2;
    margin-right: 15px;
    min-width: 100px;
    height: 50px;
    font-size: $font-default;
  }
  .date_picker {
    flex: 1;
    width: 157px;
    height: 50px;
    font-size: $font-default;
    font-weight: 400;
    color: $blue-color;
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
  }

  .formErrMessage {
    width: 100%;
    color: #ff3636;
    text-align: center;
  }

  .daily_form_submit {
    position: absolute;
    top: 60px;
    right: 0px;
    display: inline-block;
    width: 197px;
    height: 34px;
    color: $white-color;
    font-size: $font-default;
    background: linear-gradient(
        84.73deg,
        rgba(53, 85, 198, 0.44) 1.92%,
        rgba(99, 227, 255, 0.44) 100.48%
      ),
      #385ad2;
    border-radius: 13px;
  }
}

@include mobile {
  .daily_form {
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 115px;
    .category_dropdown {
      order: 1;
      margin-right: 0;
      margin-bottom: 15px;
    }
    .money {
      order: 3;
      margin-right: 0;
      margin-bottom: 15px;
      min-width: 100%;
      height: 100px;
    }
    .memo {
      order: 4;
      margin-right: 0;
    }
    .date_picker {
      order: 2;
      margin-right: 5px;
    }

    .formErrMessage {
      order: 5;
      margin-top: 15px;
      width: 100%;
      color: #ff3636;
      text-align: center;
    }
    .daily_form_submit {
      top: calc(100% + 15px);
      width: 100%;
      height: 50px;
    }
  }
}
