// 컴포넌트

.signup_btn {
  display: inline-block;
  background-color: $blue_color;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

// 네브
nav.top_nav {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100vw - (100vw - 100%));
  height: 70px;
  background: rgba(241, 245, 255, 0.2);
  backdrop-filter: blur(5px);
  & > div {
    display: flex;
    justify-content: center;
    width: 33%;
  }
  div.btn_group {
    justify-content: flex-end;
    padding-right: 10px;
  }
  .signin_btn {
    background-color: none;
    margin-right: 25px;
    color: $blue_color;
    line-height: 40px;
    &_icon {
      width: 24px;
      height: 24px;
    }
  }
}

.bg_svg {
  &_1,
  &_2,
  &_3 {
    z-index: -1;
    position: absolute;
  }
  &_1 {
    top: 0;
    left: 5%;
  }
  &_2 {
    top: 15vh;
    left: 55%;
  }
  &_3 {
    top: 85vh;
    left: -10px;
  }
}

.home_main {
  h1 {
    font-size: $font-Xlarge;
    font-weight: 400;
  }
  .scroll_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    display: inline-block;
    background-color: #fff;
    border-radius: 16px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $blue_color;
    &_icon {
      width: 24px;
      height: 24px;
    }
  }
}

//landing_item_container
.landing_item {
  &_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
  }
  &_literal {
    width: 40%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    &_title {
      height: 30%;
      text-align: center;
      vertical-align: middle;
      font-size: 36px;
      margin: auto;
    }
    &_inform {
      height: 70%;
      justify-content: center;
      align-items: center;
    }
  }
  &_photo {
    width: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &_btns {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 9;
    display: flex;
    svg {
      width: 50px;
      border: solid 1px $gray-color;
      border-radius: 10px;
      cursor: pointer;
      color: $gray-color;
    }
    svg:first-child {
      margin-right: 20px;
    }
  }
}
