//
.home {
  .start_btn_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .scroll_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      background-color: #fff;
      border-radius: 16px;
      text-align: center;
      font-size: $font-default;
      line-height: 24px;
      color: $blue_color;
      &_icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;
      }
      .signup_btn {
        width: 0;
        line-height: 0;
      }
    }
  }
}

.signup_btn {
  display: inline-block;
  background-color: $blue_color;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  font-size: $font-default;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 3em;
}

// 네브
nav.top_nav {
  z-index: 1;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100vw - (100vw - 100%));
  height: 60px;
  background: rgba(241, 245, 255, 0.2);
  backdrop-filter: blur(5px);

  & > div {
    display: flex;
    justify-content: center;
    width: 33%;
  }
  div.btn_group {
    justify-content: flex-end;
    padding-right: 10px;
    .signin_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      color: $blue_color;
      font-size: $font-default;
      background-color: rgba(241, 245, 255, 0);
      &_icon {
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - (100vw - 100%));
  height: 150vh;
  overflow: hidden;
  &_svg {
    &_1,
    &_2,
    &_3 {
      position: absolute;
      width: 30vw;
      height: 30vw;
    }
    &_1 {
      top: -3%;
      left: 5%;
    }
    &_2 {
      width: 35vw;
      height: 35vw;
      top: 7%;
      left: 65%;
    }
    &_3 {
      top: 40%;
      left: -10px;
    }
  }
}
.home_main {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;
  &_article {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    h1 {
      margin-bottom: 15px;
      line-height: 1.5;
      font-size: 4em;
      font-weight: 400;
    }
  }
  &_img {
    position: absolute;
    height: auto;
    right: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.home_web {
  margin-top: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 70%;
  h2 {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  &_img {
    position: absolute;
    top: 65%;
    width: 100%;
    height: fit-content;
    .web {
      width: 100%;
    }
    &_in {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .topper,
      .monthly,
      .daily {
        position: absolute;
      }
      .topper {
        top: 14%;
        width: 100%;
      }
      .monthly {
        top: 42%;
        left: 1%;
        width: 70%;
      }
      .daily {
        top: 73%;
        right: 2%;
        width: 75%;
      }
    }
  }
}

.home_simpleUI {
  position: relative;
  h2 {
    margin-bottom: 23%;
  }
  &_container {
    position: relative;
    width: calc(100vw - (100vw - 100%));
    height: fit-content;
    & > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      & > div {
        display: flex;
        width: 100%;
      }
      &:first-child {
        top: 4%;
        left: 5%;
      }
      &:nth-child(2) {
        top: 37%;
        right: 5%;
        text-align: end;
      }
      .flex_end {
        justify-content: flex-end;
      }
      &:nth-child(3) {
        bottom: 5%;
        left: 5%;
      }
      img {
        margin-bottom: 15px;
        width: 60%;
        height: auto;
      }
      span {
        h3 {
          margin-bottom: 15px;
          font-size: 2.6em;
        }
        p {
          margin-bottom: 20px;
          color: #a7b6d3;
          font-size: 1.8em;
          font-weight: 600;
        }
      }
      svg {
        width: 20%;

        height: 20%;
        margin: 0 5%;
      }
      .path {
        animation: dash 20s linear infinite;
      }
    }

    @keyframes dash {
      from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
.home_simpleUI_bg {
  z-index: -2;
  position: absolute;
  top: 200vh;
  left: 0;
  width: calc(100vw - (100vw - 100%));
  overflow: hidden;
  height: fit-content;
  svg {
    width: 150%;
    height: 100%;
  }
}

.home_slide {
  margin-top: 500px;
  margin-bottom: 100vh;
  .landing_item {
    &_container {
      position: absolute;
      left: 0;
      width: calc(100vw - (100vw - 100%));
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      padding: 30px;
      // border-radius: 30px;
    }
    &_literal {
      width: 40%;
      background-color: white;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      &_title {
        height: 30%;
        text-align: center;
        vertical-align: middle;
        font-size: 36px;
        margin: auto;
      }
      &_inform {
        height: 70%;
        justify-content: center;
        align-items: center;
      }
    }
    &_photo {
      width: 60%;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &_btns {
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 9;
      display: flex;
      svg {
        width: 50px;
        border: solid 1px $gray-color;
        border-radius: 10px;
        cursor: pointer;
        color: $gray-color;
      }
      svg:first-child {
        margin-right: 20px;
      }
    }
  }
}
.home_piechart {
  position: relative;
  h2 {
    margin-bottom: 250px;
  }
  .chart {
    display: flex;
    justify-content: flex-end;
    img {
      width: 80%;
      height: auto;
      object-fit: cover;
    }
  }
  .p {
    position: absolute;
    width: 100%;
    height: 150vw;
    p {
      position: absolute;
      font-size: 2em;
      &:first-child {
        top: 25%;
        right: 30%;
      }
      &:nth-child(2) {
        top: 40%;
        left: 25%;
      }
      &:nth-child(3) {
        font-size: 2.3em;
        top: 65%;
        right: 35%;
      }
    }
  }
  .chart_bg {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 150vw;
    top: -140%;
    left: 0;
    img {
      position: absolute;
      height: auto;
      &:first-child {
        width: 50%;
        top: 10%;
        left: -2%;
      }
      &:nth-child(2) {
        width: 35%;
        top: 48%;
        right: 0;
      }
      &:nth-child(3) {
        width: 30%;
        top: 60%;
        left: 0;
      }
      &:nth-child(4) {
        width: 20%;
        top: 80%;
        right: 20%;
      }
    }
  }
}
.home_review {
  position: relative;
  margin-top: 130vw;
  height: 1200px;
  &_container {
    height: 100%;
    background-color: #fff;
    padding: 50px 40px;
    &_road {
      position: relative;
      height: 100%;
      & > div {
        position: relative;
        margin-bottom: 230px;
        width: 500px;
        div:first-child {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          width: 40px;
          height: 40px;
          color: #fff;
          font-size: 1.3rem;
          background-color: $blue-color;
          border-radius: 50px;
        }
        p {
          display: inline-block;
          font-size: 1.3rem;
          font-weight: 600;
        }
        svg {
          position: absolute;
          top: 140%;
          left: -5px;
          width: 10%;
          height: 500%;
        }
      }
      button {
        z-index: 2;
        position: relative;
        width: 210px;
        background-color: inherit;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .start_btn_icon {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 10%;
          width: 24px;
          height: 24px;
          transform: translate(-50%, -50%);
          transition: left 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        }
        &::before {
          content: '';
          display: block;
          width: 40px;
          height: 40px;
          background-color: $blue-color;
          border-radius: 50px;
          transition: width 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        }
        &:hover {
          color: #fff;
          .start_btn_icon {
            left: 90%;
          }
          &::before {
            width: 210px;
          }
        }
      }
    }
  }
  .review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > div {
      position: absolute;
      width: 350px;
      .avatar {
        margin-bottom: 15px;
        width: 10vw;
        height: 10vw;
        max-width: 120px;
        max-height: 120px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p {
        font-size: 1.5em;
        &:nth-child(3) {
          color: $blue-color;
        }
        &:nth-child(4) {
          color: $gray-color;
        }
      }
      &:first-child {
        margin-left: auto;
        top: 10%;
        right: 5%;
        text-align: right;
        .avatar {
          margin-left: auto;
        }
      }
      &:nth-child(2) {
        top: 32%;
        left: 45%;
      }
      &:nth-child(3) {
        top: 48%;
        right: 8%;
        text-align: right;
        .avatar {
          margin-left: auto;
        }
      }
      &:nth-child(4) {
        top: 58%;
        left: 25%;
      }
      &:nth-child(5) {
        bottom: 7%;
        right: 25%;
        text-align: right;
        .avatar {
          margin-left: auto;
        }
      }
    }
  }
}
.home_real_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h2 {
    margin-bottom: 15px;
  }
}
.home_footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  height: fit-content;
  font-size: 1.2em;
  line-height: 24px;
  background-color: #fff;
  img {
    margin-bottom: 20px;
  }
  svg {
    transform: translate(0, 22%);
    margin-right: 5px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  &_scrooge {
    display: flex;
    margin-bottom: 110px;
    padding-right: 145px;
    flex-direction: column;
    border-right: 1px solid $gray-color;
    a {
      margin: 5px 0;
    }
  }
  .team_atm_member {
    display: flex;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      a {
        margin: 5px 0;
        line-height: 24px;
        svg {
          transform: translate(0, 22%);
          margin-right: 5px;
        }
      }
    }
  }
}
.copyright {
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.2em;
}

@include mobile {
  .home {
    font-size: 8px;
    .start_btn_group {
      .signup_btn,
      .scroll_btn {
        width: 140px;
        height: 35px;
      }
    }
  }
  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 5px;
        &_icon {
          width: 24px;
          height: 24px;
        }
      }
      .signup_btn {
        width: 0;
        height: 0;
        font-size: 0;
      }
    }
  }

  .home_main {
    &_article {
      top: 70%;
    }
    &_img {
      width: 75vw;
      top: 18%;
    }
  }

  .home_review {
    &_container {
      margin-left: -24px;
      width: calc(100% + (24px * 2));
    }
  }
  .home_footer {
    margin-left: -24px;
    width: calc(100% + (24px * 2));
  }
}

@include tablet {
  .home {
    font-size: 12px;
  }
  .signup_btn,
  .scroll_btn {
    width: 140px;
    height: 35px;
  }

  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 15px;
      }
    }
  }
  .home_main {
    &_img {
      width: 48vw;
      top: 28%;
    }
  }
  .home_review {
    &_container {
      margin-left: -36px;
      width: calc(100% + (36px * 2));
    }
  }
  .home_footer {
    margin-left: -36px;
    width: calc(100% + (36px * 2));
  }
}

@include desktop {
  .home {
    font-size: 16px;
    .start_btn_group {
      .scroll_btn {
        width: 200px;
        height: 40px;
      }
    }
  }
  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 25px;
      }
    }
  }
  .home_main {
    &_img {
      width: 48vw;
      top: 15%;
    }
  }
  .home_simpleUI_container {
    padding: 0 30px;
  }
  .home_review {
    &_container {
      margin-left: -50px;
      width: calc(100% + (50px * 2));
    }
  }
  .home_footer {
    margin-left: -50px;
    width: calc(100% + (50px * 2));
  }
}
