//

.signup_btn {
  display: inline-block;
  background-color: $blue_color;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  font-size: $font-default;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

h2 {
  font-size: 3em;
}

// 네브
nav.top_nav {
  z-index: 1;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100vw - (100vw - 100%));
  height: 60px;
  background: rgba(241, 245, 255, 0.2);
  backdrop-filter: blur(5px);

  & > div {
    display: flex;
    justify-content: center;
    width: 33%;
  }
  div.btn_group {
    justify-content: flex-end;
    padding-right: 10px;
    .signin_btn {
      background-color: rgba(241, 245, 255, 0);
      color: $blue_color;
      font-size: $font-default;
      line-height: 40px;
      &_icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - (100vw - 100%));
  height: 150vh;
  overflow: hidden;
  &_svg {
    &_1,
    &_2,
    &_3 {
      position: absolute;
      width: 30vw;
      height: 30vw;
    }
    &_1 {
      top: -3%;
      left: 5%;
    }
    &_2 {
      width: 35vw;
      height: 35vw;
      top: 7%;
      left: 65%;
    }
    &_3 {
      top: 40%;
      left: -10px;
    }
  }
}

.home_main {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;
  &_article {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    h1 {
      margin-bottom: 15px;
      line-height: 1.5;
      font-size: 4em;
      font-weight: 400;
    }

    .btn_group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .scroll_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        background-color: #fff;
        border-radius: 16px;
        text-align: center;
        font-size: $font-default;
        line-height: 24px;
        color: $blue_color;
        &_icon {
          margin-left: 4px;
          width: 24px;
          height: 24px;
        }
        .signup_btn {
          width: 0;
          line-height: 0;
        }
      }
      .testLogin_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        background-color: #fff;
        border-radius: 16px;
        height: 40px;
        text-align: center;
        font-size: $font-default;
        color: $blue_color;
      }
    }
  }
  &_img {
    position: absolute;
    height: auto;
    right: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.home_web {
  margin-top: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 70%;
  h2 {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  &_img {
    position: absolute;
    top: 65%;
    width: 100%;
    height: fit-content;
    .web {
      width: 100%;
    }
    &_in {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .monthly,
      .daily {
        position: absolute;
      }
      .monthly {
        top: 42%;
        left: 1%;
        width: 70%;
      }
      .daily {
        top: 73%;
        right: 2%;
        width: 75%;
      }
    }
  }
}

.topper_container {
  position: absolute;
  top: 180%;
  width: calc(100vw (100vw - 100%));
  height: 300px;
  overflow: hidden;
}

.topper {
  width: 100%;
}

.home_simpleUI {
  h2 {
    text-align: center;
    margin-bottom: 23%;
  }
  &_container {
    position: absolute;
    left: 0;
    width: calc(100vw - (100vw - 100%));
    &::before {
      content: '';
      display: block;
      padding-top: calc(175%);
    }
    background-color: #fff;
    & > div {
      position: absolute;
      width: 60%;
      &:first-child {
        top: 4%;
        left: 5%;
      }
      &:nth-child(2) {
        top: 35%;
        right: 5%;
        text-align: end;
      }
      &:last-child {
        bottom: 5%;
        left: 5%;
      }
      img {
        margin-bottom: 15px;
        width: 100%;
      }
      span {
        h3 {
          margin-bottom: 15px;
          font-size: 2.6em;
        }
        p {
          margin-bottom: 15px;

          color: #a7b6d3;
          font-size: 1.8em;
          font-weight: 600;
        }
      }
      svg {
        margin: 0 10%;
        width: 38%;
      }
      .path {
        animation: dash 20s linear infinite;
      }
    }

    @keyframes dash {
      from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}

.home_slide {
  margin-top: 200vw;
  .landing_item {
    &_container {
      position: absolute;
      left: 0;
      width: calc(100vw - (100vw - 100%));
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      padding: 30px;
      // border-radius: 30px;
    }
    &_literal {
      width: 40%;
      background-color: white;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      &_title {
        height: 30%;
        text-align: center;
        vertical-align: middle;
        font-size: 36px;
        margin: auto;
      }
      &_inform {
        height: 70%;
        justify-content: center;
        align-items: center;
      }
    }
    &_photo {
      width: 60%;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &_btns {
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 9;
      display: flex;
      svg {
        width: 50px;
        border: solid 1px $gray-color;
        border-radius: 10px;
        cursor: pointer;
        color: $gray-color;
      }
      svg:first-child {
        margin-right: 20px;
      }
    }
  }
}

@include mobile {
  .home {
    font-size: 8px;
  }
  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 5px;
        &_icon {
          width: 24px;
          height: 24px;
        }
      }
      .signup_btn {
        width: 0;
        height: 0;
        font-size: 0;
      }
    }
  }

  .home_main {
    &_article {
      top: 70%;
      .btn_group {
        .signup_btn,
        .scroll_btn,
        .testLogin_btn {
          width: 140px;
          height: 35px;
        }
      }
    }
    &_img {
      width: 75vw;
      top: 18%;
    }
  }
}

@include tablet {
  .home {
    font-size: 12px;
  }
  .signup_btn,
  .scroll_btn,
  .testLogin_btn {
    width: 140px;
    height: 35px;
  }

  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 15px;
      }
    }
  }
  .home_main {
    &_img {
      width: 48vw;
      top: 28%;
    }
  }
}

@include desktop {
  .home {
    font-size: 16px;
  }
  nav.top_nav {
    .btn_group {
      .signin_btn {
        margin-right: 25px;
      }
    }
  }
  .home_main {
    .btn_group {
      .scroll_btn,
      .testLogin_btn {
        width: 200px;
        height: 40px;
      }
    }
    &_img {
      width: 48vw;
      top: 15%;
    }
  }
}
