.signup {
  position: fixed;
  top: 0px;
  right: 0px;
  border-top: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40vw;
  height: 100vh;
  background-color: blanchedalmond;
}

.inputZone {
  margin-top: auto;
  margin-bottom: auto;
}
