.top {
  margin-bottom: 50px;
  &_small {
    &_1 {
      box-shadow: 0px 36px 40px -20px rgba(53, 85, 198, 0.3),
        0px 26px 20px -20px rgba(53, 85, 198, 0.4);
    }
    &_2 {
      box-shadow: 0px 36px 40px -20px rgba(122, 219, 107, 0.3),
        0px 26px 20px -20px rgba(122, 219, 107, 0.4);
    }
    &_3 {
      box-shadow: 0px 36px 40px -20px rgba(64, 204, 240, 0.3),
        0px 26px 20px -20px rgba(64, 204, 240, 0.4);
    }
  }
}
.top.hr {
  margin-bottom: 48px;
}
@include desktop {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white-color;
    &_small {
      display: flex;
      flex-direction: row;
      margin-right: 32px;
      top: 46px;
      left: 500px;
      // width: 400px;
      height: 183px;
      border-radius: 23px;
      &_1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: linear-gradient(
            84.73deg,
            rgba(53, 85, 198, 0.44) 1.92%,
            rgba(99, 227, 255, 0.44) 100.48%
          ),
          #385ad2;
      }
      &_2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: linear-gradient(
            259.35deg,
            rgba(235, 255, 113, 0.46) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #7adb6b;
      }
      &_3 {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 0;
        background: linear-gradient(
            79.89deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(83, 255, 245, 0.68) 99.21%
          ),
          #40ccf0;
      }
    }

    &_cost {
      width: auto;
      height: auto;
      padding-left: 29px;
    }

    .top_inner_title {
      width: auto;
      height: auto;
      padding-top: 29px;
      padding-left: 29px;
      padding-right: 29px;
      padding-bottom: 20px;

      font-family: $noto-font;
      font-style: normal;
      font-weight: 600;
      font-size: $font-large;
      line-height: 33px;
    }

    .top_inner_cost {
      font-family: $poiret-font;
      font-style: normal;
      font-weight: normal;
      font-size: $font-Xlarge;
      line-height: 75px;

      &_1 {
        font-family: $poiret-font;
        font-style: normal;
        font-weight: normal;
        font-size: $font-Xlarge;
      }
    }
  }
}

@include tablet {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white-color;
    &_small {
      flex: 1;
      margin-right: 32px;
      top: 46px;
      left: 500px;
      // width: 400px;
      height: 183px;
      border-radius: 23px;
      &_1 {
        background: linear-gradient(
            84.73deg,
            rgba(53, 85, 198, 0.44) 1.92%,
            rgba(99, 227, 255, 0.44) 100.48%
          ),
          #385ad2;
      }
      &_2 {
        background: linear-gradient(
            259.35deg,
            rgba(235, 255, 113, 0.46) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #7adb6b;
      }
      &_3 {
        margin-right: 0;
        background: linear-gradient(
            79.89deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(83, 255, 245, 0.68) 99.21%
          ),
          #40ccf0;
      }
    }

    &_cost {
      width: auto;
      height: auto;
      padding-left: 29px;
    }
  }
  .top_inner_title {
    width: auto;
    height: auto;
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 20px;

    font-family: $poiret-font;
    font-style: normal;
    font-weight: 600;
    font-size: $font-large;
    line-height: 33px;
  }

  .top_inner_cost {
    font-family: $poiret-font;
    font-style: normal;
    font-weight: normal;
    font-size: $font-Xlarge;
    line-height: 75px;

    &_1 {
      font-family: $poiret-font;
      font-style: normal;
      font-weight: normal;
      font-size: $font-Xlarge;
    }
  }
}

@include mobile {
  .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: $white-color;
    &_small {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin-right: 0;
      top: 46px;
      left: 500px;
      height: 90px;
      border-radius: 23px;
      flex-grow: 0;
      &_1 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin-bottom: 7px;
        width: 100%;
        height: 140px;
        background: linear-gradient(
            84.73deg,
            rgba(53, 85, 198, 0.44) 1.92%,
            rgba(99, 227, 255, 0.44) 100.48%
          ),
          #385ad2;
      }
      &_2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: linear-gradient(
            259.35deg,
            rgba(235, 255, 113, 0.46) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #7adb6b;
        margin-right: 7px;
      }
      &_3 {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 0;
        background: linear-gradient(
            79.89deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(83, 255, 245, 0.68) 99.21%
          ),
          #40ccf0;
      }
    }

    &_cost {
      width: auto;
      padding-left: 17px;
    }
  }
  .top_inner_title {
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 15px;

    font-family: $noto-font;
    font-style: normal;
    font-weight: 600;
    font-size: $font-default;
    line-height: 33px;
  }

  .top_inner_cost {
    font-family: $poiret-font;
    font-style: normal;
    font-weight: normal;
    font-size: $font-large;

    &_1 {
      font-family: $poiret-font;
      font-style: normal;
      font-weight: normal;
      font-size: $font-Mlarge;
    }
  }
}
