.container_edit {
  font-family: $noto-font;
  background-color: white;
  width: 857px;
  margin-bottom: 29px;
  padding: 30px;
}

.container_bottom {
  display: flex;
  flex-direction: column;
  font-family: $noto-font;
  background-color: $white-color;
  &_items {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 857px;
    margin-bottom: 10px;
    padding: 20px;
    vertical-align: bottom;
  }
}
