.user_setting_edit {
  display: flex;
  justify-content: center;
  font-family: $noto-font;
  background-color: white;
  max-width: 857px;
  min-width: 327px;
  margin-bottom: 29px;
  border-radius: 23px;
  .edit_form {
    display: flex;

    .edit_form_photo {
      label {
        position: relative;
        display: block;
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $light-gray-color;
      }
      img {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .image_input {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        opacity: 0;
      }
    }
    .edit_form_info {
      width: fit-content;
      .deit_form_input_group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        label {
          width: 120px;
          font-size: $font-default;
        }
        .edit_input {
          width: 100%;
          height: 50px;
          color: $black-color;
          font-size: $font-default;
          font-weight: 500;
          background-color: #fff;
          border: 1px solid $gray-color;
          border-radius: 13px;
          padding: 15px;
        }
        .edit_input_email {
          color: $gray-color;
        }
      }
    }
  }

  .edit_inputZone {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .edit_submit {
    margin-top: 30px;
    width: 138px;
    height: 34px;
    margin-left: auto;
    background: linear-gradient(
        84.73deg,
        rgba(53, 85, 198, 0.44) 1.92%,
        rgba(99, 227, 255, 0.44) 100.48%
      ),
      #385ad2;
    border-radius: 13px;
    color: $white-color;
    &.password {
      margin-top: 5px;
      width: 227px;
    }
  }
  .back_icon {
    width: 40px;
    height: 59px;
  }
  .back_btn {
    margin-top: 10px;
    margin-bottom: auto;
    color: $gray-color;
    background-color: #fff;
  }
}

.user_setting_bottom {
  display: flex;
  flex-direction: column;
  font-family: $noto-font;
  color: $black-color;
  background-color: $white-color;
  &_items {
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
    background-color: #fff;
    font-size: 18px;
    width: 100%;
    max-width: 857px;
    height: 66px;
    margin-bottom: 10px;
    padding: 20px;
    vertical-align: bottom;
    &:nth-child(7) {
      color: red;
    }
    .user_setting_bottom_items_btn {
      background-color: inherit;
    }
  }
  &_texts {
    margin-top: 2.5px;
    margin-left: 5px;
  }
  &_save {
    color: $blue-color;
    margin-top: 2.5px;
    margin-left: 5px;
  }
  &_level {
    color: $gray-color;
    margin-top: 2.5px;
    margin-left: 5px;
  }
}
