@import 'variable';

.user_profile {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 310px;
  height: 153px;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #fff;
  border-radius: 23px;
  &_photo {
    display: inline-block;
    margin-right: 14px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $light-gray-color;
  }
  &_info {
    &_name {
      display: inline-block;
      font-size: $font-medium;
      margin-right: 3px;
      margin-bottom: 3px;
    }
    &_level {
      font-family: $noto-font;
      font-size: $font-small;
      color: $gray-color;
      &::before {
        content: 'Lv.';
        display: inline-block;
      }
    }
    &_exp {
    }
  }
}
