.user_setting_edit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $noto-font;
  background-color: white;
  max-width: 857px;
  min-width: 327px;
  margin-bottom: 29px;
  border-radius: 23px;
  .edit_form {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    .edit_form_photo {
      position: relative;
      margin-right: 30px;
      height: 170px;
      label {
        margin-left: 0;
        position: relative;
        display: block;
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $light-gray-color;
        cursor: pointer;
      }
      img {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .image_input {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        opacity: 0;
      }
      &:hover {
        &::before {
          z-index: 1;
          content: '변경';
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 170px;
          height: 170px;
          color: #fff;
          font-size: $font-default;
          border-radius: 50%;
          background: rgba(21, 34, 83, 0.3);
          backdrop-filter: blur(8px);
          pointer-events: none;
        }
      }
    }
    .edit_form_info,
    .edit_form_password {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      width: fit-content;
      .edit_form_input_group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .edit_form_label {
          margin-left: 0;
          min-width: 25%;
        }
        .edit_input {
          width: 85%;
          height: 50px;
          color: $black-color;
          font-size: $font-default;
          font-weight: 500;
          background-color: #fff;
          border: 1px solid $gray-color;
          border-radius: 13px;
          padding: 15px;
        }
        .edit_input_email {
          color: $gray-color;
        }
        &:not(:nth-last-child(2)) {
          margin-bottom: 15px;
        }
      }
    }
    .edit_form_password {
      align-items: space-around;
    }
  }

  .edit_submit {
    margin-top: 30px;
    margin-left: auto;
    width: 210px;
    height: 40px;
    background: linear-gradient(
        84.73deg,
        rgba(53, 85, 198, 0.44) 1.92%,
        rgba(99, 227, 255, 0.44) 100.48%
      ),
      #385ad2;
    border-radius: 13px;
    color: $white-color;
    &.password {
      margin-top: 5px;
      width: 227px;
    }
  }
  .back_icon {
    width: 50px;
    height: 50px;
  }
  .back_btn {
    position: absolute;
    top: 25px;
    left: 15px;
    margin-bottom: auto;
    color: $light-gray-color;
    background-color: inherit;
  }

  .change_password {
    margin-left: 25%;
    color: $blue-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.user_setting_bottom {
  display: flex;
  flex-direction: column;
  font-family: $noto-font;
  color: $black-color;
  background-color: $white-color;
  &_items {
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
    background-color: #fff;
    font-size: 18px;
    width: 100%;
    max-width: 857px;
    height: 66px;
    margin-bottom: 10px;
    padding: 20px;
    vertical-align: bottom;
    &:nth-child(7) {
      color: red;
    }
    .user_setting_bottom_items_btn {
      background-color: inherit;
    }
  }
  &_texts {
    margin-top: 2.5px;
    margin-left: 5px;
  }
  &_save {
    color: $blue-color;
    margin-top: 2.5px;
    margin-left: 5px;
  }
  &_level {
    color: $gray-color;
    margin-top: 2.5px;
    margin-left: 5px;
  }
}

@include mobile {
  .edit_form {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    .edit_form_photo {
      margin-bottom: 25px;
    }
    .edit_form_info,
    .edit_form_password {
      .edit_form_input_group {
        .edit_form_label {
          font-size: $font-small;
          word-break: keep-all;
        }
      }
    }
    .edit_form_password {
      margin-top: 50px;
    }
    .edit_submit {
      margin-top: 20px;
      width: 100%;
    }
  }
}

@include tablet {
  .edit_form {
    padding: 50px;
    .edit_form_info,
    .edit_form_password {
      .edit_form_input_group {
        .edit_form_label {
          font-size: $font-default;
        }
      }
    }
  }
}

@include desktop {
  .edit_form {
    padding: 50px;
    .edit_form_info,
    .edit_form_password {
      .edit_form_input_group {
        .edit_form_label {
          font-size: $font-default;
        }
      }
    }
  }
}
