.yearly {
  font-family: $noto-font;
  color: $white-color;
  &_1 {
    background-color: #446cfb;
  }
  &_2 {
    background-color: #61b3ff;
  }
  &_3 {
    background-color: #77e4ff;
  }

  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // color: $white-color;
    flex-wrap: wrap;
    width: 100%;

    &_container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      border-radius: 22px;
      width: 411px;
      height: 588px;
      padding: 0px 25px 23px 25px;
      margin: 0px 13px;

      &_title {
        font-size: $font-medium;
        align-self: center;
        margin: 20px;
        line-height: 33px;
      }
      &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 366px;
        height: 159px;
        border-radius: 23px;
        margin-bottom: 10px;
        white-space: nowrap;
        color: $white-color;

        &_rank {
          line-height: 52px;
          font-size: $font-SMlarge;
        }

        &_result {
          &_dateMemo {
            display: flex;
            justify-content: center;
            font-size: $font-large;
          }
          &_cost {
            text-align: center;
            font-size: $font-large;
          }
        }

        &_dateCategoryCost {
          font-size: $font-large;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &_categoryname {
            display: block;
            width: 13rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &_achieve {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 19px;

        &_resultdata {
          color: $blue-color;
        }
      }
    }
    &_container:last-child {
      display: flex;
      justify-content: start;
      align-items: flex-start;
    }
  }
}

@include mobile {
  .yearly {
    &_bottom {
      flex-direction: column;
      &_container {
        margin-bottom: 30px;
        min-width: 330px;
        max-width: 330px;

        &_inner {
          min-width: 290px;
          min-height: 126px;
        }
      }
    }
  }
}

@include desktop {
  .yearly {
    &_top_container {
      padding-left: 410px;
    }
  }
}
