@import './pages/signup.scss';
@import './components/Logo.scss';
@import './variable.scss';
@import './_mixin.scss';

.app {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: $white-color;
  margin: 0;
  padding: 50px;
}

@include mobile {
  body {
    background-color: $white-color;
    margin: 0;
    padding: 50px;
  }
}

@include tablet {
  body {
    background-color: $blue-color;
  }
}

@include desktop {
  body {
    background-color: $black-color;
  }
}
