@import './pages/signup.scss';
@import './components/Logo.scss';
@import './variable.scss';

$red-color: red;
$cobalt-blue: #385ad2;
$black-color: #152253;
$white-color: #f1f5ff;

.app {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  background-color: $white-color;
  margin: 0;
}
